* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body, td, textarea, input {
  /* If both this and window's overflow-x is hidden, scroll perf suffers
   * horribly, but the sticky menubar flicker is fixed */
  /*overflow-x: hidden*/
  font-family: Helvetica Neue, Open Sans, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #505050;
}

a {
  color: #dd4b39;
  text-decoration: none;
}

a:hover {
  color: #b13c2e;
}

h1, h2, h3 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Montserrat, -apple-system, "SF UI", Roboto, "Helvetica Neue";
  padding-bottom: 0;
  text-transform: uppercase;
  color: #505050;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.lead {
  font-size: 1.2rem;
}
